:root {
  --mainWhite: #f5f5f5;
  --mainDark: #333333;
  --mainOrange: #ff8552;
  --mainGreen: #297373;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  /* background: var(--mainWhite); */
  background-image: linear-gradient(45deg, #cbe8e8 0%, #ffffff 100%);
  background-repeat: no-repeat;
  min-height: 96vh;
  color: var(--mainDark);
}

header {
  width: 77vw;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  color: var(--mainGreen);
}

header h2 span {
  color: var(--mainOrange);
}

header h2::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-top: 12px groove var(--mainOrange);
  transform: scale(0, 1);
  width: 50%;
  transition: .5s ease-in-out;
  transform-origin: left;
  z-index: 111;
}

header h2::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 50%;
  border-bottom: 14px ridge var(--mainGreen);
  transform-origin: right;
  transform: scale(0, 1);
  transition: 0.5s ease;
  z-index: 111;
}

header h2:hover::before {
  transform: scale(1, 1);
}

header h2:hover::after {
  transform: scale(1, 1);
  transform-origin: left;
}

.contacts a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainOrange);
}

.contacts a:hover {
  color: var(--mainGreen);
}

.searchContainer{
  width: 77vw;
  margin: auto;
}

.searchContainer #searchTxt{
  margin-right: 10px;
  border-color: var(--mainOrange);
  color: var(--mainGreen);
}

.searchBtn {
  border-color:  var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
  transition: transform .2s;
}

.searchBtn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.show-btn {
  border-color: var(--mainOrange);
  color: var(--mainOrange);
  background: transparent;
}

.show-btn:hover {
  background: var(--mainOrange);
  color: var(--mainDark);
}

.question-card {
  display: none;
  position: relative;
  background: transparent;
  border-color: var(--mainOrange);
}

textarea {
  border-radius: 0.25rem;
  border-color: var(--mainOrange);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 2rem;
  color: var(--mainOrange);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--mainGreen);
}

.submitBtn {
  border: 0.2rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
}

.submitBtn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.flashcard {
  transition: transform .4s;
}

.flashcard:hover {
  transform: scale(1.1);
}

.edit-flashcard {
  border: 0.2rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
  transition: transform .2s;
}

.edit-flashcard:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
}

.delete-flashcard {
  border: 0.2rem solid var(--mainOrange);
  color: var(--mainOrange);
  background: transparent;
}

.delete-flashcard:hover {
  background: var(--mainOrange);
  color: var(--mainDark);
}

.answer {
  display: none;
}

.showItem {
  display: block;
}

/* resoponsive */
@media (max-width: 1200px) {
  header {
    width: 92vw;
  }
}